* { box-sizing: border-box; }

body { background-color: #E4D1E5;
       font-family: helvetica, sans-serif;
        margin: 0; }

.header h1 { background-color: #793A67;
             color: #E4D1E5;
             font-size: 3ch; 
             text-align: center;
             padding: 20px;
             margin-top: 0; }

ul.topnav { list-style-type: none;
            padding: 0;
            overflow: hidden;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            width: 40%;
            font-weight: 600; }

ul.topnav li { display: inline-block;
               text-align: center; }

ul.topnav li a { display: block;
                 color: black;
                 padding: 10px 50px;
                 text-decoration: none; }

ul.topnav li a:hover:not(.active) { text-decoration: underline #793A67 solid 5px;
                                    text-underline-offset: 12px; }

ul.topnav li a.active { text-decoration: underline #793A67 solid 5px;
                                    text-underline-offset: 12px; }

@media screen and (max-width: 900px) { ul.topnav li.right, 
                                       ul.topnav li { float:none; } }
.row:after { content: ""; 
        display: table;
        clear: both; }

.card { padding: 20px;
        margin-top: 20px;
        display:inline-block; }

.leftcolumn { float: left;
              height: 310px;
              width: 37%;
              border: 4px solid #793A67;
              padding: 5px;
              margin-left: 50px; }

left { float: left;
              height: 500px;
              width: 530px;
              border: 4px solid #793A67;
              padding: 5px;
              margin-left: 30px; }

.right { float: left; 
               width: 60%;
               padding-left: 20px;
               margin-left: 70px;
               height: 355px;
               line-height:22px;
               font-size:18px; } 


.rightcolumn { float: left; 
               width: 57%;
               padding-left: 20px;
               margin-left: 25px;
               height: 400px;
               line-height:22px; } 

@media screen and (max-width: 900px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0; } }

.title { background-color: #793A67;
         color: #E4D1E5;
         width:60%;
         border-radius:20px;
         font-size: 3ch; 
         text-align: center;
         padding: 15px;
         margin-left:auto;
         margin-right:auto;
         margin-top:70px;
         font-weight:600; }

table.music, th, td { text-align:center; 
               margin-left:auto;
               margin-right:auto;
               line-height:0.6;
               padding:20px; }

table.music img { width:250px;
            height:250px; 
            border: 3px solid #793A67;
            padding: 2px;
            margin-top:20px; }

audio { width:100%;
        height:50px;
        margin-top:20px; }

.heading { background-color:#793A67;
           color: #E4D1E5;
           font-size: 3ch; 
           text-align: center;
           padding: 20px;
           margin-top: 50px;
           font-weight:600; }

table.m, th, td { text-align:center; 
               margin-left:auto;
               margin-right:auto;
               line-height:0.6;
               padding:10px; }

table.m img { width:390px;
            height:600px; 
            border: 3px solid #793A67;
            padding: 3px;
            margin-top:20px; }

table.gallery th, td { margin-left: auto;
               margin-right: auto;
               line-height: 0.6;
               padding:20px; }

table.gallery img { border: 3px solid #793A67;
            margin-top:20px; }

.lands { height: 420px;
         width: 590px; }

.land { height: 450px;
         width: 620px;
         padding:10px;
         margin-left: 150px; }

p.ha { font-size: 20px;
       font-weight: bold;
       text-align: center;
       margin-top: 20px; }

.moree { font-size: 50px; 
         font-weight: bold;
         color: #793A67;
         text-align: center;
         margin-top: 100px;
         margin-bottom: 300px;  }


.footer h1 { color: #793A67;
             font-size: 3ch; 
             margin-left:100px;
             padding: 20px;
             margin-top: 10px;
             margin-bottom: 0; }

